{% extends 'base.html' %}

{% block title %}Hello{% endblock %}

{% block content %}
    <h1>My First TASKS!</h1>
    {% for article in articles %}
        <h4><a href="{% url "article_create" article.pk %}">{{ article.pk }}. {{ article.description }}</a></h4>
        <p>Статус: ({{ article.status }} | {{ article.get_status_display }})</p>
        <div>{{ date_completion.text }}</div>
        <p><a href="{% url "article_update" article.pk %}">Update</a></p>
        <p><a href="{% url "article_delete" article.pk %}">Delete</a></p>
    {% endfor %}
{% endblock %}